<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

	<!-- 1.取别名，指定某个类 -->
	<!-- <typeAliases>
		<typeAlias alias="User" type="pojo.User"/>
	</typeAliases> -->

	<!-- 2.取别名，非指定，在pojo包下面所有类自动寻找 -->
	<typeAliases>
		<package name="pojo"/>
	</typeAliases>

</configuration>