<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../lib/vue.js"></script>
		<link rel="stylesheet" href='bootstrap-3.3.7/css/bootstrap.css' />
	</head>

	<body>
		<div id="app">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">添加品牌</h3>
				</div>
				<div class="panel-body form-inline">
					<label>
						id:
						<input type="text" class="form-control" v-model="id" />
					</label>
					<label>
						name:
						<input type="text" class="form-control" v-model="name" />
					</label>
					<input type="button" value="添加" class="btn btn-primary" @click='add()' />
				</div>
			</div>
			<table class="table table-bordered table-hover table-responsive">
				<thead>
					<tr>
						<th>id</th>
						<th>name</th>
						<th>ctime</th>
						<th>operation</th>
					</tr>
				</thead>
				<tbody>
					<!-- :key='item.id' key和id一定要一致-->
					<tr v-for="item in list" :key='item.id'>
						<td>{{item.id}}</td>
						<td v-text="item.name"></td>
						<td>{{item.ctime}}</td>
						<td>
							<a href="" @click.prevent="del(item.id)">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				id: '',
				name: '',
				list: [{
						id: 1,
						name: '大众',
						ctime: new Date()
					},
					{
						id: 2,
						name: '宝马',
						ctime: new Date()
					}
				]
			},
			methods: {
				add() {
					//console.log('ok')
					var car={id:this.id,name:this.name,ctime:new Date()};
					this.list.push(car);
					this.id=this.name='';
				},
				del(id){
					/*some根据指定的值进行判断 如果返回true就会被终止*/
					//this.list.some((item,i)=>{
						//if(item.id==id){
							/*splice删除i开始删除1个*/
							//this.list.splice(i,1)
							//在 数组的some方法中 如果return true;就立即结束这个数组的后续循环
							//return true;
						//};
					//});
					/*findIndex直接找出索引值*/
				        var index=this.list.findIndex(item=>{
						if (item.id==id) {
							return true;
						};
					});
					this.list.splice(index,1);
				}
			}
		});
	</script>

</html>